:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); 
  background-color: #2d2d2d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2em;
  margin-top: 0px;
  color: #2d2d2d;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("/images/fundo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

#root {
  max-width: 1280px;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.quiz {
  background-color: #2d2d2d;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
}

.question-section {
  margin-bottom: 0px;
}

.question-count {
  font-size: 18px;
  margin-bottom: 10px;
}

.question-text {
  font-size: 24px;
  margin-bottom: 20px;
}

.answer-section {
  margin-bottom: 20px;
}

.answer-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 25px;
  background-color: #00a0a6;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.answer-button.correct {
  background-color: #4caf50 !important; 
  color: #fff;
}

.answer-button.incorrect {
  background-color: #f44336 !important; 
  color: #fff;
}

.answer-button:hover:not(:disabled) {
  background-color: #11eec8;
}

.answer-button:disabled {
  cursor: not-allowed;
}

.score-section {
  font-size: 24px;
}

.score-section button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #11eec8;
  color: #fff;
  cursor: pointer;
}

.score-section button:hover {
  background-color: #11eec8;
}

.next-question {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #c0c0c0;
  color: #fff;
  cursor: not-allowed;
  transition: background-color 0.3s ease;
}

.next-question:enabled {
  background-color: #00a0a6;
  cursor: pointer;
}

.next-question:enabled:hover {
  background-color: #00a0a6;
}

.feedback {
  font-size: 18px;
  color: #ff6b6b;
  margin-top: 10px;
}

.question-section img {
  max-width: 40%;
  height: auto;
  margin: 20px 0;
}